/*
	FHS Clock
		file: admin.scss
*/

$contain_padding: 0;
$max_width: 860px;

@import url("http://is.gd/UsPLuf");
@import "gyaku";
@import "admin/media";
@import "admin/core";
@import "admin/header";
@import "admin/body";
@import "admin/footer";
