/*
	FHS Clock
		file: application.scss
*/

/*
	= Appendix
		I. Variables and Import
		II. Media Queries
		III. Typefaces
		IV. Universal
		V. Main
		VI. Marquee
		VII. Schedule
		VIII. Right
		VIV. Clock
		X. Notices
		XI. Miscellaneous
*/

/*
	I. Variables and Import
*/

$padding: 40px;
$width: 960px;

@import "compass/css3/font-face";
@import "gyaku";


/*
	II. Media Queries
*/

@media handheld, only screen and (max-width: 767px) { /* Handheld devices. */

}

@media only screen and (-webkit-min-device-pixel-ratio: 2) { /* iPhone 4 */

}

/*
	III. Typefaces
*/

@include font-face("Standard CT", font-files("/css/lib/typefaces/StandardCT-Bold/StandardCT-Bold.woff", woff, "/css/lib/typefaces/StandardCT-Bold/StandardCT-Bold.ttf", truetype, "/css/lib/typefaces/StandardCT-Bold/StandardCT-Bold.svg#StandardCT-Bold", svg), "/css/lib/typefaces/StandardCT-Bold/StandardCT-Bold.eot");
@include font-face("Helvetica World", font-files("/css/lib/typefaces/Helvetica/HelveticaWorld-Bold.ttf", truetype));


/*
	IV. Universal
*/

* {
	cursor: none;
	overflow: hide;
}

body {
	font: bold 26px/1.5em "Standard CT", Helvetica, Arial, sans-serif;
	margin: 1em 0;
	overflow: hidden;
}

li {
	display: block;
	list-style-type: none;
}

video {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -999;
}


/*
	V. Main
*/

#main {
	margin-top: 1.5em;
}


/*
	VI. Marquee
*/

ul#marquee {
	background: rgba(50, 50, 50, 0.75);
	border-radius: 3px;
	color: #fafafa;
	display: block;
	font-size: 1.5em;
	height: 1.5em;
	
	list-style: none;
	line-height: 1;
	position: relative;
	overflow: hidden;

	li {
		padding: 0.35em 0.25em 0.25em 0.5em;
		position: absolute;
		top: -999em;
		left: 0;
		display: block;
		white-space: nowrap;
	}

}


/*
	VII. Schedule
*/

ol#periods li {
	background-image: 
		-webkit-gradient(
			linear,
			left top,
			left bottom,
			from(rgb(240, 240, 240)),
			to(rgb(210, 210, 210))
		);
	border-bottom: 1px solid #000;
	//border-top: 1px solid #fff;
	display: block;
	font-size: 1.35em;
	padding: 0.4em 0.5em 0.15em 0.5em;
	width: 90%;
	
	&:first-child {
		//border: none;
		border-radius: 3px 3px 0 0;
	}
	
	&:last-child {
		border-radius: 0 0 3px 3px;
		border-bottom: none;
	}
	
	&#active {
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444), to(#222));
		color: #fafafa;
	}
}


#after {
	background: rgba(255, 255, 255, 0.5);
	border: 2px solid rgba(255, 255, 255, 0.75);
	display: none;
	font-size: 1.75em;
	line-height: 1em;
	padding: 2em;
	text-align: center;
}


/*
	VIII. Right
*/

#right {
	color: #fafafa;
	text-align: center;
}


/*
	VIV. Clock
*/


#clock {
	text-shadow: 1px 1px 1px #333;
	margin-bottom: 2em;
	
	#date {
		font-size: 1.75em;
		line-height: 1em;
		margin-bottom: 0.5em;
		margin-top: 0.25em;
	}

	#time {
		font-family: "Helvetica World", sans-serif;
		font-size: 3em;
		line-height: 1em;
	}
}


/*
	X. Notices
*/

#notices {
	li {
		background: rgba(250, 250, 0, 0.6);
		border-radius: 3px;
		color: #000;
		font-size: 1.25em;
		padding: 1em 0.75em 0.75em 0.75em;
		margin-bottom: 1em;
	}

	li.true {
		background: rgba(250, 0, 30, 0.6);
		border: 2px solid rgba(250, 0, 30, 0.8);
	}
}


/*
	XI. Miscellaneous
*/

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
