/*
	Login
		file: css/login.css
*/

@import "gyaku"

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700,800|Droid+Serif:400,700,400italic,700italic&v2|Anonymous+Pro:400,400italic,700,700italic&v2);

/*
	I. Universal
*/

body {
	background: #444;
	color: #444;
	font: 13px/1.5em "Open Sans", Helvetica, Arial, sans-serif;
}

h2 {
	font-size: 2em;
	margin-bottom: 0.75em;
}

input {
	border: 1px solid #ccc;
	border-radius: 0.5em 0 0 0.5em;
	padding: 1em;
}

button {
	border: 1px solid #ccc;
	border-radius: 0 0.5em 0.5em 0;
	padding: 1em;
}

/*
	II. Main
*/

#main {
	background: #edeeeb;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 20px;
	margin: 200px auto;
	width: 400px;
}

.error {
	background: rgba(255, 0, 0, 0.5);
	border: 2px solid #FF0000;
	margin-bottom: 1em;
	padding: 1em;
}

p#v {
	font-size: 0.75em;
	margin-top: 1em;
	padding-top: 0.5em;
}
