/*
	FHS Clock
		file: login.scss
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700,800|Droid+Serif:400,700,400italic,700italic&v2|Anonymous+Pro:400,400italic,700,700italic&v2);

$padding: 0;
$width: 1040px;

@import "gyaku";

/*
	I. Universal
*/

body {
	background-color: #EEF3F7;
	background-image: -webkit-linear-gradient(#D9E4EA, #EEF3F7) no-repeat;
	color: #444;
	font: 13px/1.5em "Open Sans", Helvetica, Arial, sans-serif;
}

p > button {
	display: block;
}

button {
	background-image: -webkit-linear-gradient(#2DA2D5, #178CBF);
	border: 1px solid #178CBF;
	display: block;
	border-radius: 3px;
	font: bold 13px/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
	box-shadow: 1px 1px 1px rgba(204, 204, 204, 0.5);
	color: #fff;
	float: right;
	margin: 0.5em 1em 0 0;
	padding: 0.75em;

	&:hover {
		cursor: hand;
		border-radius: inset 1px 1px 1px rgba(0, 0, 0, 0.87);
	}
	
	&:focus {
		background-image: -webkit-linear-gradient(#2D93BF, #19749B);
	}
}

h2 {
	border-bottom: 1px dotted #e0e0e0;
	font-size: 1.75em;
	font-weight: normal;
	margin-bottom: 0.75em;
	padding-bottom: 0.75em;
}

input {
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: inset 1px 1px 1px 1px rgba(204, 204, 204, 0.2);
	padding: 1em;
	width: 90%;
}

/*
	II. Main
*/

#main {
	background: #fff;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	padding: 5em 7em;
	margin: 10em auto 0;
	min-width: 398px;
	max-width: 400px;
}

.error {
	background: rgba(255, 0, 0, 0.5);
	border-radius: 3px;
	margin-bottom: 1em;
	padding: 1em;
}

p#v {
	font-family: "Anonymous Pro";
	margin-top: 1.5em;
}
