!!!5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "user-scalable=no, initial-scale=1.0, maximum-scale=1.0", :name => "viewport"}/

    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "black", :name => "apple-mobile-web-app-status-bar-style"}/

    %meta{:content => "The Farmington High School clock.", :name => "description"}
    %meta{:content => "Ethan Turkeltaub", :name => "author"}

    %title Clock

    %link{:href => "/favicon.ico", :rel => "icon"}
    %link{:href => "/_/apple-touch-icon.png", :rel => "apple-touch-icon-precomposed"}

    %link{:href => "/_/apple-touch-startup-image-iphone.png", :rel => "apple-touch-startup-image"}/
    %link{:href => "/_/apple-touch-startup-image-ipad-portrait.png", :media => "screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)", :rel => "apple-touch-startup-image"}/
    %link{:href => "/_/apple-touch-startup-image-ipad-landscape.png", :media => "screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)", :rel => "apple-touch-startup-image"}/
    %link{:href => "/_/apple-touch-startup-image-ipad-portrait@2x.png", :media => "screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 2)", :rel => "apple-touch-startup-image"}/
    %link{:href => "/_/apple-touch-startup-image-ipad-landscape@2x.png", :media => "screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 2)", :rel => "apple-touch-startup-image"}/

    %link{:href => "/humans.txt", :rel => "author", :type => "text/plain"}
    %link{:href => "/_/clock.css", :rel => "stylesheet"}

    - if @theme.video?
      :css
        body { background: #000 }
    - else
      :css
        body { background: url(#{url(:themes, :wallpaper, :id => @theme.id)}) no-repeat }

    %script{:src => "//use.typekit.net/zkf1hyd.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}

  %body
    - if @theme.video?
      %video{:autoplay => true, :loop => true, :muted => true}
        %source{:src => url(:themes, :wallpaper, :id => @theme.id), :type => "video/mp4"}

    #contain

      = @marquees

      = @main

    .error
      !

    %script{:src => "http://js.pusher.com/1.12/pusher.min.js"}
    %script{:src => "/_/clock.js"}

