/*
	FHS Clock
		file: css/application.css
*/

/*
	= Appendix
		I. Reset
		II. Universal
		III. Marquee
		IV. Schedule
		V. Clock
		VI. Message
*/

/*
	I. Reset
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline}:focus {outline:0}body {line-height:1;color:black;background:white}ol,ul {list-style:none}table {border-collapse:separate;border-spacing:0}caption,th,td {text-align:left;font-weight:normal}blockquote:before,blockquote:after,q:before,q:after {content:""}blockquote,q {quotes:""""}.floated:after {clear: both;content: ".";display: block;height: 0;visibility: hidden;}* html .floated {height: 1%;}

/*
	II. Universal
*/

* {
	cursor: none;
}

body {
	background: url('/img/wood2.jpg') no-repeat;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	overflow: hidden
}

#contain {
	height: 600px;
	padding: 10px;
	width: 800px;
}

/*
	III. Marquee
*/

#marquee {
	background: rgba(51,51,51,.8);
	color: #fff;
	font-size: 22px;
	font-weight: bold;
	float: left;
	margin-top: 20px;
	padding: 5px 0;
	position: absolute;
	top: 20px;
	width: 800px !important;
}

/*
	IV. Schedule
*/

#schedule {
	border: #fff;
	font-weight: bold;
	left: 20px;
	margin-top: 60px;
	position: absolute;
	top: 30px;
	width: 300px;
}

#schedule .period {
	background: rgba(250, 250, 250, 0.8);
	border-bottom: 1px solid #333;
	padding: 10px;
}

#schedule #active {
	background: #333;
	color: #fafafa;
	border-right: 1px solid #333;
}

#schedule .after {
	display: none;
}

/*
	V. Clock
*/
#clock {
	color: #fafafa;
	font-size: 38px;
	font-weight: bold;
	line-height: 1.5em;
	position: absolute;
	top: 130px;
	left: 400px;
	width: 350px !important;
	text-align: center;
}

#clock p {
	padding-bottom: 25px;
}

#clock p:last-child {
	font-size: 48px;
}

/*
	VI. Message
*/
#notices  {
	position: absolute;
	left: 400px;
	top: 300px;
}

#notices p {
	display: block;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
	padding: 10px;
	text-align: center;
	width: 350px;
}

#notices p.true  {
	background: rgba(250, 0, 30, 0.6);
	border: 2px solid rgba(250, 0, 30, 0.8);
}

#notices p  {
	background: rgba(250, 250, 0, 0.6);
	border: 2px solid rgba(250, 250, 0, 0.8);
}
