@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100|Anonymous+Pro);
/*
	Clock
		file: application.scss
*/
/* line 17, ../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
	= Appendix
		I. Media Queries
		II. Universal
		III. Header
		IV. Main
		V. Footer
*/
/*
	I. Media Queries
*/
@media handheld, only screen and (max-width: 767px) {
  /* line 28, ../../app/assets/css/application.scss */
  form.schedules {
    margin-bottom: 1.5em;
  }
  /* line 32, ../../app/assets/css/application.scss */
  form input {
    width: 94.5% !important;
    max-width: 94.5% !important;
  }
  /* line 38, ../../app/assets/css/application.scss */
  form p.submit input.primary {
    width: 100% !important;
  }
  /* line 43, ../../app/assets/css/application.scss */
  form textarea {
    max-width: 97% !important;
  }

  /* line 49, ../../app/assets/css/application.scss */
  #contain > header aside, #contain > header nav {
    width: 193.22034%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
    max-width: 100% !important;
  }
  /* line 55, ../../app/assets/css/application.scss */
  #contain > header ul {
    margin-top: 0.25em;
  }
  /* line 59, ../../app/assets/css/application.scss */
  #contain > header ul li + li {
    margin-left: 0.5em !important;
  }

  /* line 68, ../../app/assets/css/application.scss */
  #main .inner {
    padding: 2em 1em !important;
  }
}
/*
	II. Universal
*/
/* line 79, ../../app/assets/css/application.scss */
html {
  height: 100%;
}

/* line 83, ../../app/assets/css/application.scss */
body {
  color: #333333;
  font: 300 14px/1.5em "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* line 88, ../../app/assets/css/application.scss */
a {
  color: #666;
  text-decoration: none;
}
/* line 92, ../../app/assets/css/application.scss */
a:hover {
  color: #999;
}

/* line 97, ../../app/assets/css/application.scss */
button, input, textarea {
  font: 300 14px/1.5em "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* line 101, ../../app/assets/css/application.scss */
button, input[type="submit"] {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e6e6e6));
  background: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background: linear-gradient(top, #ffffff, #e6e6e6);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  border: 1px solid #ccc;
  padding: 4px 10px 4px;
}
/* line 109, ../../app/assets/css/application.scss */
button:active, input[type="submit"]:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #d9d9d9;
  background-image: none;
  outline: 0;
}
/* line 117, ../../app/assets/css/application.scss */
button:hover, input[type="submit"]:hover {
  cursor: pointer;
}
/* line 120, ../../app/assets/css/application.scss */
button:hover a, input[type="submit"]:hover a {
  color: #666;
}
/* line 125, ../../app/assets/css/application.scss */
button.primary, input[type="submit"].primary {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0088cc), color-stop(100%, #0055cc));
  background: -webkit-linear-gradient(top, #0088cc, #0055cc);
  background: -moz-linear-gradient(top, #0088cc, #0055cc);
  background: -o-linear-gradient(top, #0088cc, #0055cc);
  background: linear-gradient(top, #0088cc, #0055cc);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  border-color: #0055cc #0055cc #003580;
  color: #fafafa;
}
/* line 133, ../../app/assets/css/application.scss */
button a, input[type="submit"] a {
  display: block;
}

/* line 138, ../../app/assets/css/application.scss */
code, pre {
  font-family: "Anonymous Pro", Courier New, Courier, monospace;
}

/* line 142, ../../app/assets/css/application.scss */
h1, h2, h3 {
  font-weight: bold;
}

/* line 146, ../../app/assets/css/application.scss */
h1 {
  font-size: 1.25em;
  margin-top: 0.125em;
  text-transform: uppercase;
}

/* line 152, ../../app/assets/css/application.scss */
h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

/* line 157, ../../app/assets/css/application.scss */
h3 {
  font-size: 1.15em;
}

/* line 161, ../../app/assets/css/application.scss */
#iframe {
  padding-bottom: 4em;
  padding-top: 2em;
}
/* line 166, ../../app/assets/css/application.scss */
#iframe iframe {
  overflow: hidden;
  *zoom: 1;
  margin: 0 auto;
  display: block;
}

/* line 173, ../../app/assets/css/application.scss */
img, video {
  max-width: 100%;
}

/* line 177, ../../app/assets/css/application.scss */
form {
  overflow: hidden;
  *zoom: 1;
}
/* line 180, ../../app/assets/css/application.scss */
form.inline {
  display: inline;
}
/* line 183, ../../app/assets/css/application.scss */
form.inline button {
  background: none;
  border: 0;
  color: #666;
  padding: 0;
  display: inline;
}
/* line 190, ../../app/assets/css/application.scss */
form.inline button:hover {
  cursor: pointer;
  color: #999;
}
/* line 195, ../../app/assets/css/application.scss */
form.inline button:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 202, ../../app/assets/css/application.scss */
form.login input[type="password"] {
  width: 98%;
}
/* line 208, ../../app/assets/css/application.scss */
form.notices input[type="text"] {
  width: 98.25%;
}
/* line 215, ../../app/assets/css/application.scss */
form.periods input[name="period[number]"] {
  width: 5%;
}
/* line 219, ../../app/assets/css/application.scss */
form.periods input[name="period[text]"] {
  width: 47%;
}
/* line 223, ../../app/assets/css/application.scss */
form.periods input[name="period[start]"], form.periods input[name="period[finish]"] {
  width: 20%;
}
/* line 229, ../../app/assets/css/application.scss */
form.schedules {
  margin-bottom: 1em;
}
/* line 232, ../../app/assets/css/application.scss */
form.schedules input[type="text"] {
  width: 48.15%;
}
/* line 238, ../../app/assets/css/application.scss */
form.settings p + p {
  margin-top: 0.25em;
}
/* line 242, ../../app/assets/css/application.scss */
form.settings p.old {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}
/* line 248, ../../app/assets/css/application.scss */
form.settings input[type="password"] {
  width: 50%;
}
/* line 254, ../../app/assets/css/application.scss */
form.themes input[type="text"] {
  width: 63%;
}
/* line 259, ../../app/assets/css/application.scss */
form input, form textarea {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  background-color: white;
  border: 1px solid #cccccc;
}
/* line 266, ../../app/assets/css/application.scss */
form input:focus, form textarea:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
}
/* line 274, ../../app/assets/css/application.scss */
form input {
  padding: 0.5em 0.25em 0.5em 0.5em;
}
/* line 279, ../../app/assets/css/application.scss */
form p.submit {
  overflow: hidden;
  *zoom: 1;
  float: right;
  margin-top: 0.25em;
}
/* line 287, ../../app/assets/css/application.scss */
form textarea {
  height: 10em;
  padding: 0.25em;
  width: 99%;
}

/* line 294, ../../app/assets/css/application.scss */
table {
  margin-top: 1em;
  width: 100%;
}
/* line 299, ../../app/assets/css/application.scss */
table tbody tr:hover {
  background: #fefefe;
}
/* line 304, ../../app/assets/css/application.scss */
table td, table th {
  padding: 0.8em 0.4em;
}
/* line 309, ../../app/assets/css/application.scss */
table td.text {
  padding-right: 5%;
  width: 80%;
}
/* line 314, ../../app/assets/css/application.scss */
table td:last-child {
  vertical-align: top;
}
/* line 319, ../../app/assets/css/application.scss */
table th {
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  vertical-align: bottom;
}
/* line 326, ../../app/assets/css/application.scss */
table tr + tr {
  border-top: 1px solid #e0e0e0;
}
/* line 330, ../../app/assets/css/application.scss */
table tr.true {
  background: rgba(255, 255, 0, 0.5);
}
/* line 333, ../../app/assets/css/application.scss */
table tr.true:hover {
  background: rgba(255, 255, 0, 0.35);
}

/* line 340, ../../app/assets/css/application.scss */
.alert {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  cursor: pointer;
  margin: 1em 0 2em;
  padding: 8px 35px 8px 14px;
}
/* line 348, ../../app/assets/css/application.scss */
.alert.error {
  background-color: #f2dede;
  border: 1px solid #eed3d7;
  color: #b94a48;
}
/* line 354, ../../app/assets/css/application.scss */
.alert.notice {
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  color: #468847;
}
/* line 360, ../../app/assets/css/application.scss */
.alert.warning {
  background: #fcf8e3;
  border: 1px solid #fbeed5;
  color: #c09853;
}

/* line 367, ../../app/assets/css/application.scss */
#contain {
  height: auto !important;
  height: 100%;
  margin: 0 auto -7em;
  min-height: 100%;
}

/*
	III. Header
*/
/* line 379, ../../app/assets/css/application.scss */
#contain > header {
  color: #fafafa;
  margin-bottom: 2em;
}
/* line 383, ../../app/assets/css/application.scss */
#contain > header a {
  color: #fafafa;
  text-decoration: none;
}
/* line 387, ../../app/assets/css/application.scss */
#contain > header a:hover {
  color: #efefef;
}
/* line 392, ../../app/assets/css/application.scss */
#contain > header button {
  background: none;
  border: none;
  color: #fafafa;
  margin: 0;
  padding: 0;
  text-shadow: none;
}
/* line 400, ../../app/assets/css/application.scss */
#contain > header button:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 404, ../../app/assets/css/application.scss */
#contain > header button:hover {
  color: #efefef;
  cursor: pointer;
}
/* line 410, ../../app/assets/css/application.scss */
#contain > header form {
  overflow: visible;
}
/* line 414, ../../app/assets/css/application.scss */
#contain > header hgroup {
  padding: 1em 0;
}
/* line 417, ../../app/assets/css/application.scss */
#contain > header hgroup.top {
  background: #518787;
}
/* line 421, ../../app/assets/css/application.scss */
#contain > header hgroup.bottom {
  background: #67a4a4;
}
/* line 425, ../../app/assets/css/application.scss */
#contain > header hgroup aside, #contain > header hgroup nav.left {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
@media (max-width: 767px) {
  /* line 425, ../../app/assets/css/application.scss */
  #contain > header hgroup aside, #contain > header hgroup nav.left {
    width: 193.22034%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }
}
/* line 433, ../../app/assets/css/application.scss */
#contain > header hgroup li {
  display: inline-block;
}
/* line 436, ../../app/assets/css/application.scss */
#contain > header hgroup li + li {
  margin-left: 1.5em;
}
/* line 441, ../../app/assets/css/application.scss */
#contain > header hgroup nav.right {
  width: 49.15254%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
@media (max-width: 767px) {
  /* line 441, ../../app/assets/css/application.scss */
  #contain > header hgroup nav.right {
    width: 193.22034%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }
  /* line 447, ../../app/assets/css/application.scss */
  #contain > header hgroup nav.right ul {
    float: left !important;
  }
}
/* line 452, ../../app/assets/css/application.scss */
#contain > header hgroup nav.right ul {
  float: right;
}
/* line 457, ../../app/assets/css/application.scss */
#contain > header hgroup section {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#contain > header hgroup section:after {
  content: "";
  display: table;
  clear: both;
}

/*
	IV. Main
*/
/* line 468, ../../app/assets/css/application.scss */
#main {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#main:after {
  content: "";
  display: table;
  clear: both;
}
/* line 471, ../../app/assets/css/application.scss */
#main a.preview {
  color: #ccc;
}
/* line 475, ../../app/assets/css/application.scss */
#main footer {
  border-top: 1px solid #f0f0f0;
  padding-top: 2em;
  margin-top: 2em;
}
/* line 481, ../../app/assets/css/application.scss */
#main header {
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 1.5em;
  padding-bottom: 0.25em;
}
/* line 486, ../../app/assets/css/application.scss */
#main header aside, #main header section {
  display: inline-block;
}
/* line 490, ../../app/assets/css/application.scss */
#main header aside {
  float: right;
}
/* line 494, ../../app/assets/css/application.scss */
#main header section {
  margin-top: 5px;
}
/* line 497, ../../app/assets/css/application.scss */
#main header section h2 {
  margin-bottom: 0em;
}
/* line 501, ../../app/assets/css/application.scss */
#main header section h3 {
  margin-bottom: 1em;
}
/* line 508, ../../app/assets/css/application.scss */
#main nav.breadcrumbs {
  color: #aaa;
  margin-bottom: 2.25em;
}
/* line 512, ../../app/assets/css/application.scss */
#main nav.breadcrumbs a {
  color: #ccc;
}
/* line 515, ../../app/assets/css/application.scss */
#main nav.breadcrumbs a:hover {
  color: #aaa;
}
/* line 520, ../../app/assets/css/application.scss */
#main nav.breadcrumbs ol {
  margin-left: 0;
}
/* line 523, ../../app/assets/css/application.scss */
#main nav.breadcrumbs ol li {
  display: inline-block;
}
/* line 527, ../../app/assets/css/application.scss */
#main nav.breadcrumbs ol li + li:before {
  content: "\203A ";
}
/* line 536, ../../app/assets/css/application.scss */
#main ol, #main ul {
  margin: 1em 0 1em 3em;
}
/* line 540, ../../app/assets/css/application.scss */
#main ul li {
  list-style-type: disc;
}
/* line 544, ../../app/assets/css/application.scss */
#main #login {
  width: 83.05085%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  padding-left: 8.47458%;
  padding-right: 8.47458%;
  background: #efefef;
  margin: 2em 0;
}
/* line 552, ../../app/assets/css/application.scss */
#main #login header {
  border-bottom: 1px solid #fff;
}
/* line 556, ../../app/assets/css/application.scss */
#main #login .inner {
  padding: 4em 4em 6em;
}

/*
	V. Footer
*/
/* line 567, ../../app/assets/css/application.scss */
#contain > footer {
  border-top: 1px solid #e0e0e0;
  color: #ccc;
  margin-top: 10em;
  padding-bottom: 2em;
  padding-top: 2em;
  text-align: center;
}
/* line 575, ../../app/assets/css/application.scss */
#contain > footer section {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#contain > footer section:after {
  content: "";
  display: table;
  clear: both;
}
/* line 578, ../../app/assets/css/application.scss */
#contain > footer section p + p {
  font: 0.85em "Droid Sans Mono", Monaco, Courier, monospace;
  margin-top: 1em;
}
/* line 583, ../../app/assets/css/application.scss */
#contain > footer section ul {
  padding-bottom: 1em;
  margin-top: 1em;
}
/* line 587, ../../app/assets/css/application.scss */
#contain > footer section ul li {
  display: inline;
}
/* line 590, ../../app/assets/css/application.scss */
#contain > footer section ul li + li {
  margin-left: 0.5em;
  padding-left: 0.5em;
}
