/*
	
		file: application.css
*/

/*
	= Appendix
		I. Media Queries
		II.
*/

/*
	I. Media Queries
*/

@media handheld, only screen and (max-width: 767px) { /* Handheld devices. */

}

@media only screen and (-webkit-min-device-pixel-ratio: 2) { /* iPhone 4 */

}

/*
	II. Typefaces
*/

@font-face {
	font-family: 'Standard CT';
	font-weight: bold;
	src: url('/css/lib/typefaces/StandardCT-Bold/StandardCT-Bold.eot');
	src: url('/css/lib/typefaces/StandardCT-Bold/StandardCT-Bold.eot?#iefix') format('embedded-opentype'),
			 url('/css/lib/typefaces/StandardCT-Bold/StandardCT-Bold.woff') format('woff'),
			 url('/css/lib/typefaces/StandardCT-Bold/StandardCT-Bold.ttf') format('truetype'),
			 url('/css/lib/typefaces/StandardCT-Bold/StandardCT-Bold.svg#StandardCT-Bold') format('svg'); 
}

@font-face {
	font-family: "Helvetica World";
	font-weight: bold;
	src: url('/css/lib/typefaces/Helvetica/HelveticaWorld-Bold.ttf') format('truetype');
}

/*
	II. 
*/

* {
	cursor: none;
	overflow: hide;
}

body {
	/*background: url('/admin/wallpapers/linked/4eae185d9972772fc600001b') no-repeat;*/
	font: bold 26px/1.5em "Standard CT", Helvetica, Arial, sans-serif;
	margin: 1em 0;
	overflow: hidden;
}

li {
	display: block;
	list-style-type: none;
}

/*
	III. Main
*/

#main {
	margin-top: 1.5em;
}

/*
	III. Marquee
*/

ul#marquee {
	background: rgba(50, 50, 50, 0.5);
	color: #fafafa;
	display: block;
	font-size: 1.5em;
	height: 1.5em;
	
	list-style: none;
	line-height: 1;
	position: relative;
	overflow: hidden;
}

ul#marquee li {
	padding: 0.35em 0.25em 0.25em 0.25em;
	position: absolute;
	top: -999em;
	left: 0;
	display: block;
	white-space: nowrap; /* keep all text on a single line */
}

/*
	IV. Schedule
*/

ol#periods li {
	background: rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid #000;
	display: block;
	font-size: 1.35em;
	padding: 0.3em 0.5em 0.15em 0.5em;
	width: 90%
}

ol#periods li#active {
	background: rgba(50, 50, 50, 0.5);
	color: #fafafa;
}

#after {
	background: rgba(255, 255, 255, 0.5);
	border: 2px solid rgba(255, 255, 255, 0.75);
	display: none;
	font-size: 1.75em;
	line-height: 1em;
	padding: 2em;
	text-align: center;
}

/*
	X. Left
*/

#left {
	/*padding-right: 1em;*/
}

/*
	V. Right
*/

#right {
	color: #fafafa;
	text-align: center;
}

/*
	VI. Clock
*/


#clock {
	margin-bottom: 2em;
}

#clock #date {
	font-size: 1.75em;
	margin-bottom: 0.5em;
	margin-top: 0.25em;
	line-height: 1em;
}

#clock #time {
	font-family: "Helvetica World", sans-serif;
	font-size: 3em;
	line-height: 1em;
}

/*
	X. Notices
*/

#notices li {
	background: rgba(250, 250, 0, 0.6);
	border: 2px solid rgba(250, 250, 0, 0.8);
	color: #000;
	font-size: 1.25em;
	padding: 1em 0.75em 0.75em 0.75em;
	margin-bottom: 1em;
}

#notices li.true {
	background: rgba(250, 0, 30, 0.6);
	border: 2px solid rgba(250, 0, 30, 0.8);
}

/*
	X. Miscellaneous
*/

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
