/*
	Clock
		file: clock.scss
*/
/* line 17, ../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
	= Appendix
		I. Media Queries
		II. Universal
		III. Marquee
		IV. Main
		V. Periods
		VI. Clock
*/
/*
	I. Media Queries
*/
@media handheld, only screen and (max-width: 767px) {
  /* line 30, ../../app/assets/css/clock.scss */
  body {
    font-size: 24px !important;
  }

  /* line 34, ../../app/assets/css/clock.scss */
  aside#clock {
    margin: 0 auto 1em auto;
  }
  /* line 37, ../../app/assets/css/clock.scss */
  aside#clock #date {
    font-size: 1em;
  }

  /* line 42, ../../app/assets/css/clock.scss */
  #contain > footer {
    display: block !important;
  }

  /* line 47, ../../app/assets/css/clock.scss */
  #main.after {
    font-size: 0.75em;
  }

  /* line 52, ../../app/assets/css/clock.scss */
  #marquee {
    font-size: 0.75em !important;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 58, ../../app/assets/css/clock.scss */
  #marquee {
    font-size: 0.75em !important;
    padding-bottom: 0.25em !important;
    padding-top: 0.25em !important;
  }
}
/*
	II. Universal
*/
/* line 70, ../../app/assets/css/clock.scss */
* {
  cursor: none;
  overflow: hidden;
}

/* line 75, ../../app/assets/css/clock.scss */
html {
  height: auto;
  min-height: 100%;
}

/* line 80, ../../app/assets/css/clock.scss */
body {
  color: #333;
  font: 500 38px/1.25em "franklin-gothic-urw", Helvetica Neue, Helvetica, Arial, sans-serif;
  overflow: hidden;
}

/* line 86, ../../app/assets/css/clock.scss */
video {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -999;
}

/* line 95, ../../app/assets/css/clock.scss */
#contain {
  margin: 0.5em 0;
}

/*
	III. Marquee
*/
/* line 104, ../../app/assets/css/clock.scss */
#marquee {
  *zoom: 1;
  max-width: 59.5em;
  _width: 59.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: auto;
  margin-right: auto;
  background: rgba(51, 51, 51, 0.75);
  color: #fafafa;
}
/* line 38, ../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#marquee:after {
  content: "";
  display: table;
  clear: both;
}
/* line 110, ../../app/assets/css/clock.scss */
#marquee ul {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  display: block;
  height: 1.5em;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  position: relative;
}
/* line 120, ../../app/assets/css/clock.scss */
#marquee ul li {
  display: block;
  left: 0;
  padding: 0.2em 0 0.2em 0.5em;
  position: absolute;
  top: -999em;
  white-space: nowrap;
}

/*
	IV. Main
*/
/* line 136, ../../app/assets/css/clock.scss */
#main {
  *zoom: 1;
  max-width: 59.5em;
  _width: 59.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.85em;
}
/* line 38, ../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#main:after {
  content: "";
  display: table;
  clear: both;
}
/* line 142, ../../app/assets/css/clock.scss */
#main.after #periods {
  display: none;
  visibility: hidden;
}
/* line 147, ../../app/assets/css/clock.scss */
#main.after #clock {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 150, ../../app/assets/css/clock.scss */
#main.after #clock #date {
  font-size: 1.5em;
}
/* line 154, ../../app/assets/css/clock.scss */
#main.after #clock #time {
  font-size: 4em;
  margin-top: 0.15em;
}

/*
	V. Periods
*/
/* line 167, ../../app/assets/css/clock.scss */
#periods {
  width: 49.57983%;
  float: left;
  margin-right: 0.84034%;
  display: inline;
  color: #222;
  font-weight: 700;
}
@media (max-width: 850px) {
  /* line 167, ../../app/assets/css/clock.scss */
  #periods {
    width: 100%;
    float: left;
    margin-right: 0.84034%;
    display: inline;
    margin-top: 1em;
  }
}
/* line 179, ../../app/assets/css/clock.scss */
#periods ol {
  height: 100%;
  width: 100%;
}
/* line 183, ../../app/assets/css/clock.scss */
#periods ol li {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f0f0f0), color-stop(100%, #d2d2d2));
  background: -webkit-linear-gradient(top, #f0f0f0, #d2d2d2);
  background: -moz-linear-gradient(top, #f0f0f0, #d2d2d2);
  background: -o-linear-gradient(top, #f0f0f0, #d2d2d2);
  background: linear-gradient(top, #f0f0f0, #d2d2d2);
  border-bottom: 1px solid #000;
  border-top: 1px solid #fff;
  display: block;
  padding: 0.2em 0.5em 0.2em 0.5em;
}
/* line 191, ../../app/assets/css/clock.scss */
#periods ol li:first-child {
  border-radius: 2px 2px 0 0;
}
/* line 195, ../../app/assets/css/clock.scss */
#periods ol li:last-child {
  border-radius: 0 0 2px 2px;
  border-bottom: 1px solid #fff;
}
/* line 200, ../../app/assets/css/clock.scss */
#periods ol li.active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444444), color-stop(100%, #222222));
  background: -webkit-linear-gradient(top, #444444, #222222);
  background: -moz-linear-gradient(top, #444444, #222222);
  background: -o-linear-gradient(top, #444444, #222222);
  background: linear-gradient(top, #444444, #222222);
  border-bottom: 1px solid #333;
  color: #fafafa;
}

/*
	VI. Clock
*/
/* line 215, ../../app/assets/css/clock.scss */
#clock {
  width: 45.37815%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  text-shadow: 2px 2px 2px rgba(50, 50, 50, 0.8);
  color: #fff;
  text-align: center;
}
@media (max-width: 850px) {
  /* line 215, ../../app/assets/css/clock.scss */
  #clock {
    width: 95.79832%;
    float: left;
    margin-right: 0.84034%;
    display: inline;
  }
}
/* line 226, ../../app/assets/css/clock.scss */
#clock #date {
  font-size: 1.25em;
  line-height: 1.5em;
}
/* line 231, ../../app/assets/css/clock.scss */
#clock #time {
  font-size: 2.5em;
  font-weight: 600;
  line-height: 1em;
  margin-top: 0.35em;
}

/*
	VII. Notices
*/
/* line 244, ../../app/assets/css/clock.scss */
footer#notices {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: rgba(255, 255, 0, 0.5);
  margin-top: 1em;
  padding: 1em;
}

/*
	VIII. Error
*/
/* line 257, ../../app/assets/css/clock.scss */
.error {
  background: red;
  bottom: 10px;
  display: none;
  font-size: 0.5em;
  height: 1rem;
  position: fixed;
  right: 10px;
  width: 1rem;
}
