/*
Syntax error: Invalid CSS after "@import "gyaku"": expected selector or at-rule, was "@import url(htt..."
        on line 8 of /var/www/fhsclock/app/assets/scss/login.scss

3: 		file: css/login.css
4: */
5: 
6: @import "gyaku"
7: 
8: @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700,800|Droid+Serif:400,700,400italic,700italic&v2|Anonymous+Pro:400,400italic,700,700italic&v2);
9: 
10: /*
11: 	I. Universal
12: */
13: 

Backtrace:
/var/www/fhsclock/app/assets/scss/login.scss:8
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/sass-3.1.7/lib/sass/scss/parser.rb:898:in `expected'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/sass-3.1.7/lib/sass/scss/parser.rb:841:in `expected'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/sass-3.1.7/lib/sass/scss/parser.rb:27:in `parse'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/sass-3.1.7/lib/sass/engine.rb:320:in `_to_tree'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/sass-3.1.7/lib/sass/engine.rb:293:in `_render'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/sass-3.1.7/lib/sass/engine.rb:240:in `render'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `each'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `each'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/sass-3.1.7/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/sass-3.1.7/lib/sass/plugin.rb:81:in `update_stylesheets'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/sass-3.1.7/lib/sass/plugin.rb:54:in `check_for_updates'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/sass-3.1.7/lib/sass/plugin/rack.rb:51:in `call'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/rack-1.3.2/lib/rack/session/abstract/id.rb:195:in `context'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/rack-1.3.2/lib/rack/session/abstract/id.rb:190:in `call'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/rack-1.3.2/lib/rack/head.rb:9:in `call'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/sinatra-1.2.6/lib/sinatra/showexceptions.rb:21:in `call'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/rack-1.3.2/lib/rack/methodoverride.rb:24:in `call'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/sinatra-1.2.6/lib/sinatra/base.rb:1272:in `block in call'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/sinatra-1.2.6/lib/sinatra/base.rb:1303:in `synchronize'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/sinatra-1.2.6/lib/sinatra/base.rb:1272:in `call'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/padrino-core-0.10.0/lib/padrino-core/router.rb:71:in `block in call'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/padrino-core-0.10.0/lib/padrino-core/router.rb:64:in `each'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/padrino-core-0.10.0/lib/padrino-core/router.rb:64:in `call'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/thin-1.2.11/lib/thin/connection.rb:84:in `block in pre_process'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/thin-1.2.11/lib/thin/connection.rb:82:in `catch'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/thin-1.2.11/lib/thin/connection.rb:82:in `pre_process'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/thin-1.2.11/lib/thin/connection.rb:57:in `process'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/thin-1.2.11/lib/thin/connection.rb:42:in `receive_data'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/eventmachine-0.12.10/lib/eventmachine.rb:256:in `run_machine'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/eventmachine-0.12.10/lib/eventmachine.rb:256:in `run'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/thin-1.2.11/lib/thin/backends/base.rb:61:in `start'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/thin-1.2.11/lib/thin/server.rb:159:in `start'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/rack-1.3.2/lib/rack/handler/thin.rb:13:in `run'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/rack-1.3.2/lib/rack/server.rb:265:in `start'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/padrino-core-0.10.0/lib/padrino-core/server.rb:44:in `start'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/padrino-core-0.10.0/lib/padrino-core/server.rb:34:in `start'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/padrino-core-0.10.0/lib/padrino-core/server.rb:13:in `run!'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/padrino-core-0.10.0/lib/padrino-core/cli/adapter.rb:7:in `start'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/padrino-core-0.10.0/lib/padrino-core/cli/base.rb:24:in `start'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/thor-0.14.6/lib/thor/task.rb:22:in `run'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/thor-0.14.6/lib/thor/invocation.rb:118:in `invoke_task'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/thor-0.14.6/lib/thor.rb:263:in `dispatch'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/thor-0.14.6/lib/thor/base.rb:389:in `start'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/gems/padrino-core-0.10.0/bin/padrino:9:in `<top (required)>'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/bin/padrino:19:in `load'
/home/ethan/.rvm/gems/ruby-1.9.2-p290@fhsclock/bin/padrino:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"@import \"gyaku\"\": expected selector or at-rule, was \"@import url(htt...\"\A         on line 8 of /var/www/fhsclock/app/assets/scss/login.scss\A \A 3: 		file: css/login.css\A 4: */\A 5: \A 6: @import \"gyaku\"\A 7: \A 8: @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700,800|Droid+Serif:400,700,400italic,700italic&v2|Anonymous+Pro:400,400italic,700,700italic&v2);\A 9: \A 10: /*\A 11: 	I. Universal\A 12: */\A 13: "; }
