%nav.breadcrumbs
  %ol
    %li
      %a{:href => url(:index)} Home
    %li
      %a{:href => url(:themes, :index)} Themes
    %li
      %span= @theme.name

%header
  %h2 Themes
  %h3= @theme.name

= partial 'layouts/flash', :locals => { :flash => flash }

%p
  - if @theme.video?
    %video{:autoplay => true, :controls => true, :loop => true, :muted => true}
      %source{:src => url(:themes, :wallpaper, :id => @theme.id), :type => "video/mp4"}
  - else
    %img{:src => url(:themes, :wallpaper, :id => @theme.id)}/
