<title>Login Required</title>
<h2>Login to continue.</h2>
<form action="/api/login" method="post">
	<p><input name="username" type="text" value="Username" /></p>
	<p><input name="password" type="password" value="Password" /><input type="submit" type="submit" value="Login" /></p>
</form>
