%section#body
  %h2
    Wallpapers
  =flash_tag :notice
  - if settings.video["enabled"] == true
    .error
      A video is enabled, so you cannot change the wallpaper here.
  - if !@wallpapers.blank?
    %table
      %thead
        %tr
          %th Name
          %th Content Type
          %th Actions
      %tbody
        - @wallpapers.each do |wallpaper|
          %tr{:class => wallpaper.active}
            %td
              %a{:href => "/gridfs/#{wallpaper.file.id}"}= wallpaper.name
            %td= wallpaper.file.type
            %td
              %form.inline{:action => url(:wallpapers, :activate), :method => "post"}
                %input{:name => "id", :type => "hidden", :value => wallpaper.id}/
                - if !wallpaper.active
                  %button.inline{:type => "submit", :value => "Activate"} Activate
                  &mdash;
              %form.inline{:action => url(:wallpapers, :destroy), :method => "post"}
                %input{:name => "id", :type => "hidden", :value => wallpaper.id}/
                %input{:name => "_method", :type => "hidden", :value => "delete"}/
                %button.inline{:type => "submit", :value => "Delete"} Delete	
  - else
    %p
      No wallpapers!
      
  %section.meta.row
    :markdown
      **Disclaimer**: When you change the background (especially to a video), it will be slow to load. It'll most likely flash to white and stay like that for a second or two.
    %form{:action => url(:wallpapers, :create), :enctype => "multipart/form-data", :method => "post", :style => "margin-top: 1em"}
      %p
        %input{:name => "wallpaper[name]", :placeholder => "Name", :type => "text"}/
      %p
        %input{:name => "wallpaper[file]", :type => "file"}/
      %p
        %button.green{:type => "submit"} Create
