/*
	FHS Clock
		file: admin/body.scss
*/

#body {
	background: #fafafa;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 2em 1em 2em 1em;
	
	header {
		h2, nav {
			display: inline-block;
		}
	}
	
	ul {
		margin-left: 2em;
	}

	nav.back {
		margin-bottom: 2em;
	}


}

#main {
	nav {
		margin-bottom: 2.5em;

		li {
			display: inline;
			margin: 0;

			a {
				background: #ccc;
				color: #444;
				display: block;
				float: left;
				margin: 0 1em 0 0;
				padding: 0.5em 1em;
				text-decoration: none;
	
				&:hover {
					background: #e1e1e1;
				}
	
				&:visited {
					color: #444;
				}
			}

			&.selected a {
				background: #fafafa;
				border-bottom: 1px solid #fafafa;
				border-left: 1px solid #ccc;
				border-top: 1px solid #ccc;
				border-right: 1px solid #ccc;
			}
		}
	}
}

