/*
	FHS Clock
		file: admin/core.scss
*/

body {
	background: #efefef;
	color: #444;
	font: 12px/1.5em $font, Helvetica Neue, Helvetica, Arial, sans-serif;
}

a {
	color: #333;
	text-decoration: none;
}

blockquote {
	border-left: 5px solid #ccc;
	padding-left: 1em;
	margin-bottom: 1em;
}

button, .button {
	background-color: rgba(255, 255, 255, 0.7);
	background-image: 
		-webkit-gradient(
			linear,
			left top,
			left bottom,
			from(rgb(240, 240, 240)),
			to(rgb(210, 210, 210))
		);
	border-radius: 3px;
	box-shadow:
		inset 0 1px 0 rgba(255, 255, 255, 0.6),
		0 1px 0 rgba(0, 0, 0, 0.2),
		0 0 0 1px rgb(150, 150, 150),
		0 1px 1px rgba(0, 0, 0, 0.25);
	padding: 0.25em 0.5em;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
	
	a {
		color: #000 !important;
		display: block;
		height: 100%;
		
		&:hover {
			border: 0;
			color: #000;
		}
		
	}
	
	&:active {
		box-shadow:
			inset 0 0 4px 1px rgba(0, 0, 0, 0.2),
			0 0 0 1px rgb(140, 140, 140),
			0 1px 1px rgba(0, 0, 0, 0.3);
	}
	
	&:focus {
		background: black;
	}
	
	&.green {
		background: #CEFFA8;
		background-image: 
			-webkit-gradient(
				linear,
				left top,
				left bottom,
				from(#CEFFA8),
				to(#C3F0A1)
			);
			box-shadow: none;
		border: 1px solid #64D111;
		
		&:active {
			box-shadow: 
				inset 0 1px 0 rgba(184, 230, 149, 0.6),
				0 1px 0 rgba(0, 0, 0, 0.2),
				0 0 0 1px rgb(184, 230, 149),
				0 1px 2px rgba(0, 0, 0, 0.25);
		}
	}
	
	&.huge {
		height: 100px;
		font-size: 3em;
		font-weight: bold;
		text-shadow: 1px 1px 1px #fff;
		width: 100%;
	}
}

.button {
	width: 4em;
}

button.inline, form.inline {
	background: none;
	border: none;
	box-shadow: none;
	color: #333;
	display: inline;
	font-size: 12px;
	margin: 0;
	padding: 0;
	text-shadow: none;
}

button, input {
	font: 11px/1.5em $font, Helvetica Neue, Helvetica, Arial, sans-serif;
}

button, input, textarea {
	border: 1px solid #e0e0e0;
	outline: none;
	padding: 0.5em;
}

code {
	display: inline;
}

h2 {
	font-size: 1.25em;
	margin-bottom: 1em;
}

input {
	border-radius: 3px;
	padding: 0.55em;
	
	&[type=checkbox] {
		-webkit-appearance: none;
		-webkit-box-shadow: 
			inset 0 1px 0 rgba(255, 255, 255, 0.6),
			0 0 0 1px rgb(150, 150, 150),
			0 1px 2px rgba(0, 0, 0, 0.25);
		background:
			-webkit-gradient(
				linear,
				0% 0%,
				0% 100%,
				from(rgb(240, 240, 240)),
				to(rgb(210, 210, 210))
			)
			rgb(90, 90, 90);
		border-radius: 3px;
		height: 10px;
		padding: 0.2em;
		width: 10px;
		
		&:checked {
			background:
				url('/img/check.png') center center no-repeat,
				-webkit-gradient(
					linear,
					0% 0%,
					0% 100%,
					from(rgb(240, 240, 240)),
					to(rgb(210, 210, 210))
				)
				rgb(90, 90, 90);
		}
	}

	&.medium {
		width: 40% !important;
	}

	&.time {
		width: 20% !important;
	}
	
	&.wide {
		width: 85%;
	}
	
	&.tiny {
		width: 5% !important;
	}
}

form button {
	cursor: pointer;
	margin-right: 2px;
}

form p {
	margin-bottom: 1em;
}

h1 {
	font-size: 1.5em;
	font-weight: normal;
	margin-top: 7px;
}

input:focus, textarea:focus {
	border: 1px solid #ccc;
}

input[type="text"] {
	width: 50%;
}

select option {
	overflow: visible;
}

table {
	border-spacing: 0.25em;
	width: 98%;
}

thead {
	background: #444;
	border-color: inherit;
	color: #fafafa;
	display: table-header-group;
	text-align: left;
	vertical-align: middle;
}

td {
	padding: .5em .5em;
}

textarea {
	height: 20em;
	max-width: 98%;
	width: 98%;
}

textarea, code {
	font: 11px/1.5em "Anonymous Pro", Monaco, Courier New, Courier, monospaced;
}

textarea.small {
	height: 10em;
}

th {
	padding: .25em .5em;
}

tr:nth-child(2n+2) {
	background: #fff;
}

tr.true {
	background: rgba(255, 255, 0, 0.5)
}
