/*
	FHS Clock
		file: admin/header.scss
*/

#contain > header {
	border-bottom: 1px solid #ccc;
	margin-bottom: 4em;
	
	h1 a:hover {
		border: none;
		color: #ccc;
	}
	
	hgroup:first-child {
		margin: 0 auto;
		width: 100%;
	}

	nav ul li {
		display: inline-block;
		margin-right: 1.5em;
	
		&:first-child {
			margin-left: 0;
		}
		
		a:hover {
			color: #444;
			border: 0;
		}
	}

	.black {
		background: #444;
		padding: 4em 0 2em 0;
		
		a {
			color: #fafafa;
		}
	}

	.white {
		background: #fafafa;
		padding: 1em 0;
	}
}

