/*
	FHS Clock
		file: admin/misc.scss
*/

.inline input {
	display: inline;
}

.error, .notice {
	border-radius: 3px;
	width: 95%;
}

.error {
	background: rgba(255, 0, 0, 0.5);
	margin: 1em 0;
	padding: 1em;
	width: 95%;
}

.meta {
	border-top: 1px solid #eee;
	margin-top: 2em;
	padding-top: 2em;
}

.notice {
	background: rgba(0, 255, 0, 0.5);
	margin-bottom: 2em;
	padding: 1em;
}

.right {
	float: right !important;
}

.sixcol input {
	width: 95%;
}
