/*
	FHS Clock
		file: admin/misc.scss
*/

.error {
	background: rgba(255, 0, 0, 0.5);
	border-radius: 2px;
	margin: 1em 0;
	width: 95%;

	.notice {
		margin-bottom: 2em;
		padding: 1em;
	}
}

.inline input {
	display: inline;
}

.meta {
	border-top: 1px solid #eee;
	margin-top: 2em;
	padding-top: 2em;
}

.notice {
	border: 2px solid rgba(0, 255, 0, 1);
	background: rgba(0, 255, 0, 0.5);
}

.right {
	float: right !important;
}

.sixcol input {
	width: 95%;
}
