#inner.row
  = partial 'partials/navigation'
  %section#body
    %h2
      backgrounds
    =flash_tag :notice
    - if !@backgrounds.blank?
      %table
        %thead
          %tr
            %th Name
            %th Link to Media
            %th Actions
        %tbody
          - @backgrounds.each do |background|
            %tr{:class => background.active}
              %td= background.name
              %td
                %img{:src => "/gridfs/#{background.file.id}"}/
              %td
                %form.inline{:action => url(:backgrounds, :activate), :method => "post"}
                  %input{:name => "id", :type => "hidden", :value => background.id}/
                  - if !background.active
                    %button.inline{:type => "submit", :value => "Activate"} Activate
                    &mdash;
                %form.inline{:action => url(:backgrounds, :destroy), :method => "post"}
                  %input{:name => "id", :type => "hidden", :value => background.id}/
                  %input{:name => "_method", :type => "hidden", :value => "delete"}/
                  %button.inline{:type => "submit", :value => "Delete"} Delete
                      
    - else
      %p
        No backgrounds!
    
    %section.meta.row
      %form{:action => url(:backgrounds, :upload), :method => "post", :enctype => "multipart/form-data"}
        %p
          %input{:name => "name", :placeholder => "Name", :type => "text"}/
        %p
          %input{:name => "file", :type => "file"}/
        %p
          %button.green{:type => "submit"} Create
