#inner.row
  = partial 'partials/nav/general'
  %section#body
    :maruku
      *  For documentation, visit [the wiki on GitHub](http://github.com/eturk/fhsclock/wiki/_pages).
      *  For support, [email me](mailto:ethan.turkeltaub@gmail.com), or [create an issue on GitHub]().
      *  _Remember, after each change, you need to refresh the computer!_
