#inner.row
  = partial 'partials/nav/general'
  %section#body
    =flash_tag :notice
    =flash_tag :error
    %section.row
    %form{:action => url(:settings), :method => "post"}
      %p
        %input{:name => "old", :placeholder => "Your old password.", :type => "password"}/
      %p
        %input{:name => "password", :placeholder => "A new password.", :type => "password"}/
        %input{:name => "confirmation", :placeholder => "Confirm your new password.", :type => "password"}/
      %p
        %button.green{:type => "submit"} Submit
