<h2>Are you sure you want to delete the marquee item "<%= @marquee.string %>"?</h2>
<form action="/api/marquee/delete" method="post">
	<input type="hidden" name="_method" value="delete" />
	<input type="hidden" name="id" value="<%= @marquee.id %>" />
	<p><input type="submit" value="DESTROY" /></p>
</form>
