%section#body
  %section.row
    %nav.back
      %button
        %a{:href => url(:marquees, :index)}= "&larr; Back"
    %h2
      Editing marquee item 
      ="&rdquo;#{@marquee.text}&ldquo;"
    =flash_tag :error
    =flash_tag :notice
    %form.row{:action => url(:marquees, :modify), :method => "post"}
      %section
        %p
          %input{:name => "marquee[text]", :placeholder => "Text", :type => "text", :value => @marquee.text}/
        %p
          %input{:name => "id", :type => "hidden", :value => @marquee.id}/
          %input{:name => "_method", :type => "hidden", :value => "put"}/
          %button.green{:type => "submit", :value => "Edit"} Edit
