#inner.row
  = partial 'partials/nav/marquees'
  %section#body
    =flash_tag :notice
    - if !@marquees.blank?
      %table
        %thead
          %tr
            %th Text
            %th Actions
        %tbody
          - @marquees.each do |marquee|
            %tr
              %td= marquee.text
              %td
                %a{:href => url(:marquees, :edit, :id => marquee.id)} Edit
                &mdash;
                %form.inline{:action => url(:marquees, :destroy), :method => "post"}
                  %input{:name => "id", :type => "hidden", :value => marquee.id}/
                  %input{:name => "_method", :type => "hidden", :value => "delete"}/
                  %button.inline{:type => "submit", :value => "Delete"} Delete
                      
    - else
      %p
        No marquees!
    
    %section.meta.row
      %form{:action => url(:marquees, :create), :method => "post"}
        %p
          %em
            Do not use asteriks (*) or any dividers! The clock will do that for you!
        %p
          %input{:name => "marquee[text]", :placeholder => "Text to display", :type => "text"}/
        %p
          %button.green{:type => "submit"} Create
