/*
	Clock
		file: application.scss
*/

@import "lib/base";

$base: rgb(81, 135, 135);
$text: rgb(51, 51, 51);


/*
	= Appendix
		I. Media Queries
		II. Universal
		III. Header
		IV. Main
		V. Footer
*/


/*
	I. Media Queries
*/

@media handheld, only screen and (max-width: 767px) {
	form {
		&.schedules {
			margin-bottom: 1.5em;
		}

		input {
			width: 94.5% !important;
			max-width: 94.5% !important;
		}

		p.submit {
			input.primary {
				width: 100% !important;
			}
		}

		textarea {
			max-width: 97% !important;
		}
	}
	
	#contain > header {
		aside, nav {
			@include span-columns(23);

			max-width: 100% !important;
		}

		ul {
			margin-top: 0.25em;

			li {
				& + li {
					margin-left: 0.5em !important;
				}
			}	
		}
		
	}

	#main {
		.inner {
			padding: 2em 1em !important;
		}
	}
}


/*
	II. Universal
*/

html {
	height: 100%;
}

body {
	color: $text;
	font: 14px/1.5em $sans-serif;
}

a {
	color: #666;
	text-decoration: none;

	&:hover {
		color: #999;
	}
}

button, input, textarea {
	font: 14px/1.5em $sans-serif;
}

button, input[type="submit"] {
	@include background(linear-gradient(top, white, #E6E6E6));
	@include border-radius(4px);
	@include text-shadow(0 1px 1px rgba(255, 255, 255, .75));

	border: 1px solid #ccc;
	padding: 4px 10px 4px;

	&:active {
		@include box-shadow(inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05));
		
		background-color: #d9d9d9;
		background-image: none;
		outline: 0;
	}

	&:hover {
		cursor: pointer;

		a {
			color: #666;
		}
	}

	&.primary {
		@include background(linear-gradient(top, #0088cc, #0055cc));
		@include text-shadow(0 1px 1px rgba(0, 0, 0, .75));

		border-color: #0055cc #0055cc #003580;
		color: #fafafa;
	}

	a {
		display: block;
	}	
}

code, pre {
	font-family: $mono;
}

h1, h2, h3 {
	font-weight: bold;
}

h1 {
	font-size: 1.25em;
	margin-top: 0.125em;
	text-transform: uppercase;
}

h2 {
	font-size: 1.5em;
	margin-bottom: 0.5em;
}

h3 {
	font-size: 1.15em;
}

img, video {
	max-width: 100%;
}

form {
	@include clearfix;

	&.inline {
		display: inline;

		button {
			background: none;
			border: 0;
			color: #666;
			padding: 0;
			display: inline;

			&:hover {
				cursor: pointer;
				color: #999;
			}

			&:active {
				@include box-shadow(none);
			}
		}
	}

	&.login {
		input[type="password"] {
			width: 98%;
		}
	}

	&.notices {
		input[type="text"] {
			width: 98.25%;
		}
	}

	&.periods {
		input {
			&[name="period[number]"] {
				width: 5%;
			}

			&[name="period[text]"] {
				width: 47%;
			}

			&[name="period[start]"], &[name="period[finish]"] {
				width: 20%;
			}
		}
	}

	&.schedules {
		margin-bottom: 1em;

		input[type="text"] {
			width: 48.15%;
		}
	}

	&.settings {
		p + p {
			margin-top: 0.25em;
		}

		p.old {
			border-bottom: 1px solid #e0e0e0;
			margin-bottom: 0.5em;
			padding-bottom: 0.5em;
		}

		input[type="password"] {
			width: 50%;
		}
	}

	&.themes {
		input[type="text"] {
			width: 63%;
		}
	}

	input, textarea {
		@include border-radius(3px);
		@include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));

		background-color: white;
		border: 1px solid #cccccc;

		&:focus {
			@include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6));

			border-color: rgba(82, 168, 236, 0.8);
			outline: 0;
		}
	}

	input {
		padding: 0.5em 0.25em 0.5em 0.5em;
	}

	p {
		&.submit {
			@include clearfix;

			float: right;
			margin-top: 0.25em;
		}
	}

	textarea {
		height: 10em;
		padding: 0.25em;
		width: 99%;
	}
}

table {
	margin-top: 1em;
	width: 100%;

	tbody {
		tr:hover {
			background: #fefefe;
		}
	}

	td, th {
		padding: 0.8em 0.4em;
	}

	td {
		&.text {
			padding-right: 5%;
			width: 80%;
		}

		&:last-child {
			vertical-align: top;
		}
	}

	th {
		border-bottom: 1px solid #ccc;
		font-weight: bold;
		vertical-align: bottom;
	}

	tr {
		& + tr {
			border-top: 1px solid #e0e0e0;
		}

		&.true {
			background: rgba(yellow, 0.5);

			&:hover {
				background: rgba(yellow, 0.35);
			}
		}
	}
}

.alert {
	@include text-shadow(0 1px 0 rgba(255, 255, 255, 0.5));
	
	border-radius: 4px;
	cursor: pointer;
	margin: 1em 0 2em;
	padding: 8px 35px 8px 14px;

	&.error {
		background-color: #f2dede;
		border: 1px solid #eed3d7;
		color: #b94a48;
	}

	&.notice {
		background-color: #dff0d8;
		border: 1px solid #d6e9c6;
		color: #468847;
	}

	&.warning {
		background: #fcf8e3;
		border: 1px solid #fbeed5;
		color: #c09853;
	}
}

#contain {
	height: auto !important;
	height: 100%;
	margin: 0 auto -7em;
	min-height: 100%;
}


/*
	III. Header
*/

#contain > header {
	color: #fafafa;
	margin-bottom: 2em;

	a {
		color: #fafafa;
		text-decoration: none;

		&:hover {
			color: #efefef;
		}
	}

	button {
		background: none;
		border: none;
		color: #fafafa;
		margin: 0;
		padding: 0;
		text-shadow: none;

		&:active {
			@include box-shadow(none);
		}
		
		&:hover {
			color: #efefef;
			cursor: pointer;
		}
	}

	form {
		overflow: visible;
	}

	hgroup {
		padding: 1em 0;

		&.top {
			background: $base;
		}

		&.bottom {
			background: lighten($base, 10%);
		}

		aside, nav.left {
			@include span-columns(6);

			@media (max-width: 767px) {
        		@include span-columns(23);
    		}
		}

		li {
			display: inline-block;

			& + li {
				margin-left: 1.5em;
			}
		}

		nav.right {
			@include span-columns(6 omega);

			@media (max-width: 767px) {
        		@include span-columns(23);

        		ul {
        			float: left !important;
        		}
    		}

			ul {
				float: right;
			}
		}

		section {
			@include container;
		}
	}
}


/*
	IV. Main
*/

#main {
	@include container;

	footer {
		border-top: 1px solid #f0f0f0;
		padding-top: 2em;
		margin-top: 2em;
	}

	header {
		border-bottom: 1px solid #f0f0f0;
		margin-bottom: 1.5em;
		padding-bottom: 0.25em;

		section, aside {
			display: inline-block;
		}

		section {
			margin-top: 5px;

			h2 {
				margin-bottom: 0em;
			}

			h3 {
				margin-bottom: 1em;
			}
		}

		aside {
			float: right;
		}
	}

	nav {
		&.breadcrumbs {
			color: #aaa;
			margin-bottom: 2.25em;

			a {
				color: #ccc;

				&:hover {
					color: #aaa;
				}
			}

			ol {
				margin-left: 0;

				li {
					display: inline-block;

					& + li {
						&:before {
							content: "\203A ";
						}
					}
				}
			}
		}
	}

	#login {
		@include span-columns(10);
		@include prefix(1);
		@include suffix(1);

		background: #efefef;
		margin: 2em 0;

		header {
			border-bottom: 1px solid #fff;
		}

		.inner {
			padding: 4em 4em 6em;
		}
	}

	ol, ul {
		margin: 1em 0 1em 3em;
	}

	ul li {
		list-style-type: disc;
	}
}


/*
	V. Footer
*/

body > footer {
	background: #efefef;
	color: #aaa;
	height: 10em;
	padding-bottom: 1em;
	padding-top: 2em;
	text-align: center;

	section {
		@include container;

		p + p {
			font: 0.85em "Droid Sans Mono";
			margin-top: 1em;
		}

		ul {
			padding-bottom: 1em;
			margin-top: 1em;

			li {
				display: inline;

				& + li {
					margin-left: 0.5em;
					padding-left: 0.5em;
				}
			}
		}
	}
}

.footer-push {
	height: 9em;
	padding-bottom: 8em;
}