/*
	Clock
		file: clock.scss
*/

@import "lib/base";

$total-columns: 24;
$column-width: 2em;
$gutter-width: 0.5em;
$grid-padding: $gutter-width;

/*
	= Appendix
		I. Media Queries
		II. 
*/


/*
	I. Media Queries
*/

@media handheld, only screen and (max-width: 767px) { /* Handheld devices. */ }

@media only screen and (-webkit-min-device-pixel-ratio: 2) { /* iPhone 4 */ }


/*
	II. Universal
*/

