/*
	Gyaku
		file: gyaku.scss
*/

/*
	= Appendix
		I. Reset
		II. 1140px Grid
*/

/*
	I. Reset
		HTML5 Reset Stylesheet by HTML5 Doctor (http: //coo.ly/iEv)
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	padding: 0;
	outline: 0;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
	display: block;
}

nav ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

a {
	background: transparent;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

mark {
	background-color: #ff9;
	color: #000; 
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	border: 0;	
	border-top: 1px solid #cccccc;
	display: block;
	height: 1px;
	margin: 1em 0;
	padding: 0;
}

input, select {
	vertical-align: middle;
}

/*
	II. 1140px Grid
		1140px Grid by Andy Taylor (http://coo.ly/pGu)
*/


#contain {
	padding-left: $padding;
	padding-right: $padding;
}

.row {
	width: 100%;
	max-width: $width;
	min-width: 355px;
	margin: 0 auto;
	overflow: hidden;
}

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
	margin-right: 3.8%;
	float: left;
	min-height: 1px;
}

.row .onecol {
	width: 4.85%;
}

.row .twocol {
	width: 13.45%;
}

.row .threecol {
	width: 22.05%;
}

.row .fourcol {
	width: 30.75%;
}

.row .fivecol {
	width: 39.45%;
}

.row .sixcol {
	/*width: 48%;*/
	width: 40%;
}

.row .sevencol {
	width: 56.75%;
}

.row .eightcol {
	width: 65.4%;
}

.row .ninecol {
	width: 74.05%;
}

.row .tencol {
	width: 82.7%;
}

.row .elevencol {
	width: 91.35%;
}

.row .twelvecol {
	width: 100%;
	float: left;
}

.last {
	margin-right: 0px;
}

img, object, embed {
	max-width: 100%;
}

img {
	height: auto;
}

@media only screen and (max-width: 1023px) {
	body {
		font-size: 0.8em;
		line-height: 1.5em;
	}
}

@media handheld, only screen and (max-width: 767px) {
	body {
		font-size: 16px;
		-webkit-text-size-adjust: none;
	}
	
	.row, body, .container {
		width: 100%;
		min-width: 0;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol {
		width: auto;
		float: none;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 20px;
		padding-right: 20px;
	}
}
