<!DOCTYPE html>
<html>
	<head>
		<title>FHS Clock &mdash; Administration</title>
		<link href="/css/admin.css" rel="stylesheet" />
	</head>
	<body>
		<header>
			<h1><a href="/admin">FHS Clock</a></h1>
			<p><a href="/">View Clock &rarr;</a></p>
		</header>
		<div id="body">
						<%= yield %>
		</div>
		<footer>
			<p><a href="http://ethan.heroku.com">Ethan Turkeltaub</a>, <a href="mailto:nicksilverman@comcast.net">Nick Silverman</a>, and <a href="mailto:fhsav@comcast.net">Farmington High School Audio-Visual</a> fecit 2010.</p>
			<ul>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">Support</a></li>
			</ul>
		</footer>
	</body>
</html>
